--extra-index-url https://download.pytorch.org/whl/cu128

fastapi
uvicorn
pydantic
requests
aiofiles
llama-index
llama-index-embeddings-huggingface
llama-index-vector-stores-faiss
sentence-transformers
faiss-cpu
lmdeploy
torch
torchvision
torchaudio